<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server_system.js" verb="*" modules="iisnode"/>
    </handlers>

    <rewrite>
      <rules>
        <rule name="NodeApp">
          <match url=".*" />
          <action type="Rewrite" url="server_system.js"/>
        </rule>
      </rules>
    </rewrite>

    <defaultDocument enabled="true">
      <files>
        <add value="index.html"/>
      </files>
    </defaultDocument>

    <iisnode loggingEnabled="true" devErrorsEnabled="true" />
  </system.webServer>
</configuration>
